*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white;
}
html{
    scroll-behavior: smooth;
}
.center{
    text-align: center;
}
.img{
    position: absolute;
    top: 14rem;
    left: 6rem;
}
.img img{
    width: 300px;
    height: 300px;

}
html {
    background: black;
    background: linear-gradient(to right,black 50%,grey);
  }
  
  html:before {
    content: "";
    position: fixed;
    top: calc(50% - 1000px);
    left: 0;
    width: 800px;
    height:2000px;
    background: white;
    transform: skew(-15deg);
    transform-origin:top;

  }
h1{
    padding-right: 50px;
}
#home{
    position: absolute;
    left: 10px;
    top: 8px;
}
.icons{
    position: relative;
    left: 1149px;
    font-size: 23px;
}
.icons a{
    margin: 8px;
}
.container
{
display:flex;
justify-content:center;
align-items:center;
margin:auto 50%;
width: 50%;
padding-top: 40px;
padding-bottom: 20px;
padding-right:100px;
}
.smallcont input,textarea{
    display:block;
    padding:5px 34px;
    margin:10px 12px;
    width:393px;
    font-size:18px;
    border-radius: 10px;
    color: black;
}
.smallcont label
{
font-weight: 500;
 margin: 12px;
font-size:18px;
color: white
} 
input[type=button]
{
    background-color: #234A7C;
    border-radius: 20px;
    color: white;
}
input[type=button]:hover{
    opacity: 0.7;
}